@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #217373, #173540);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #11182588;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #84B026;
    text-align: center;
    text-shadow: 2px 2px 0px #35470f;
}

h2{
    color: #217373;
}

p{
    text-align: justify;
}

